<template>
  <div id="edit-employee">
    <h3>Edit-Employee</h3>
    <div class="row">
      <form class="col s12" @submit.prevent="updateEmployee">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" v-model="employee_id" required disabled>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" v-model="name" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" v-model="dept" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" v-model="position" required>
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
        <router-link class="btn grey" to="/">Cancel</router-link>
      </form>
    </div>
  </div>
</template>

<script>
import { db } from '@/config/firebase'

export default {
  name: 'edit-employee',
  data () {
    return {
      employee_id: null,
      dept: null,
      position: null,
      name: null
    }
  },
  beforeRouteEnter (to, from, next) {
    db().collection('employees').where('employee_id', '==', to.params.employee_id).get()
      .then(qS => {
        qS.forEach(doc => {
          next(vm => {
            vm.employee_id = doc.data().employee_id
            vm.name = doc.data().name
            vm.dept = doc.data().dpt
            vm.position = doc.data().position
          })
        })
    })
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      db().collection('employees').where('employee_id', '==', this.$route.params.employee_id).get()
        .then(qS => {
          qS.forEach(doc => {
            this.employee_id = doc.data().employee_id
            this.name = doc.data().name
            this.dept = doc.data().dpt
            this.position = doc.data().position
          })
        })
    },
    updateEmployee () {
      db().collection('employees').where('employee_id', '==', this.$route.params.employee_id).get()
        .then(qS => {
          qS.forEach(doc => {
            doc.ref.update({
              employee_id: this.employee_id,
              name: this.name,
              dpt: this.dept,
              position: this.position,
            })
            .then(() => this.$router.push({name: 'view-employee', params: {employee_id: this.employee_id}}))
          })
        })
    }
  }
}
</script>
