<template>
  <div id="view-employee">
    <h3>View Employee</h3>

    <ul class="collection with-header">
      <li class="collection-header"><h4>{{name}}</h4></li>
      <li class="collection-item">Employee ID#: {{employee_id}}</li>
      <li class="collection-item">Department: {{dept}}</li>
      <li class="collection-item">Position: {{position}}</li>
    </ul>

    <router-link class="btn grey" to="/">Back</router-link>
    <button class="btn red" @click="deleteEmployee">Delete</button>
    <div class="fixed-action-btn">
      <router-link v-bind:to="{name: 'edit-employee', params: {employee_id: employee_id}}" class="btn-floating btn-large red"><i class="fa fa-pencil"></i></router-link>
    </div>
  </div>
</template>

<script>
import { db } from '@/config/firebase'

export default {
  name: 'view-employee',
  data () {
    return {
      employee_id: null,
      name: null,
      dept: null,
      position: null
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log('beforeRouter')
    db().collection('employees').where('employee_id', '==', to.params.employee_id).get()
      .then(qS => {
        qS.forEach(doc => {
          next(vm => {
            vm.employee_id = doc.data().employee_id
            vm.name = doc.data().name
            vm.dept = doc.data().dpt
            vm.position = doc.data().position
          })
        })
    })
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      console.log('fetchData')
      db().collection('employees').where('employee_id', '==', this.$route.params.employee_id).get()
        .then(qS => {
          qS.forEach(doc => {
            this.employee_id = doc.data().employee_id
            this.name = doc.data().name
            this.dept = doc.data().dpt
            this.position = doc.data().position
          })
        })
    },
    deleteEmployee() {
      if(confirm('Certeza??')) {
        db().collection('employees').where('employee_id', '==', this.$route.params.employee_id).get()
        .then(qS => {
          qS.forEach(doc => {
            doc.ref.delete()
            this.$router.push('/')
          })
        })
      }
    }
  }
}
</script>
