<template>
  <div id="app">
    <Navbar />
    <show-alert v-if="error" @closeAlert="onAlertCloseButton" @clicked="showAlertClick" :text="error.text" :color="error.color" :hasClick="error.hasClick"/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from './components/Menu/Navbar'
export default {
  name: 'App',
  components: {
    Navbar
  },
  computed: {
    error () {
      return this.$store.getters.error
    }
  },
  methods: {
    onAlertCloseButton () {
      this.$store.dispatch('clearError')
    },
    showAlertClick () {
      this.$store.dispatch(this.error.hasClick.action)
    }
  }
}
</script>
