<template>
  <div class="row" :value="true">
      <div class="col s1 m1"></div>
      <div v-bind:class="concatClass">
        <div class="card-content black-text">
            <span class="activator" @click="onClose"><a href="#!"><i class="material-icons right">close</i></a></span>
            <p>{{ text }}<a v-if="hasClick" href="#!" @click="clicked" > {{ hasClick.text }} </a></p>
        </div>
      </div>
      <div class="col s1 m1"></div>
  </div>
</template>

<script>
  export default {
    props: [
      'text',
      'color',
      'hasClick'
    ],
    computed: {
      concatClass () {
        return `card col s10 m10 ${this.color}`
      }
    },
    methods: {
      onClose () {
        this.$emit('closeAlert')
      },
      clicked () {
        this.$emit('clicked')
      }
    }
  }
</script>