<template>
  <nav>
    <div class="nav-wrapper green">
      <!-- Center title link -->
      <router-link to="/" class="center brand-logo">App</router-link>
      
      <!-- Accout Icons Dropdown items -->
      <ul v-show="userIsAuthenticated" id="dropdown1" class="dropdown-content collection with-header" style="width: 180px !important">
        <li v-if="userIsAuthenticated" class="collection-header">Olá {{ user.displayName }}</li>
        <li class="divider"></li>
        <li><router-link v-bind:to="{name: 'user-profile'}">Profile</router-link></li>
        <li><a @click="logout">Logout</a></li>
      </ul>

      <!-- Accout Icons Dropdown button -->
      <ul class="right" >
        <li v-show="userIsAuthenticated"><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true"><i class="material-icons">account_circle arrow_drop_down</i></a></li>
        <li v-show="!userIsAuthenticated"><router-link v-bind:to="{name: 'signin'}">Login</router-link></li>        
      </ul>


      <!-- Menu superior quando tela grande -->
      <ul class="left hide-on-med-and-down">
        <li v-for="item in menuItems" :key="item.title"> <router-link v-bind:to="{name: item.linkName}">{{ item.title }}</router-link></li>
      </ul>

      <!-- Menu lateral oculto -->
      <ul class="side-nav" id="hide-side-nav" >
        <!-- Profile Title on Menu -->
        <li v-if="userIsAuthenticated">
          <div class="user-view">
            <div class="background">
              <img src="../../assets/images/background.jpg" width="100%">
            </div>
            <a href="#!user"><img class="circle" src="../../assets/images/default_user.png"></a>
            <a href="#!name"><span class="black-text name">{{ user.displayName }}</span></a>
            <a href="#!email"><span class="black-text email">{{ user.email }}</span></a>
          </div>
        </li>

        <li v-for="item in menuItems" :key="item.title"><router-link v-bind:to="{name: item.linkName}">{{ item.title }}</router-link></li>
        <li v-if="userIsAuthenticated"><a @click="logout">Sair</a></li>
      </ul>

      <!-- button to expand menu when hide -->
      <a href="#" data-activates="hide-side-nav" class="button-collapse"><i class="material-icons">menu</i></a>

      <!-- loading bar -->
      <div class="progress" v-if="loading"><div class="indeterminate blue"></div></div>
    </div>
  </nav>
</template>

<script>
export default {
  mounted () {
    $(".button-collapse").sideNav({closeOnClick: true, draggable: true})
    $(".dropdown-button").dropdown({hover: true, constrainWidth: false });
  },


  computed: {
    user () {
      return this.$store.getters.user
    },
    userIsAuthenticated () {
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    },
    loading () {
      return this.$store.getters.loading
    },
    menuItems () {
      let menuItems = [
        {icon: 'face', title: 'Home', linkName: 'home'},
        {icon: 'face', title: 'Cadastre-se', linkName: 'signup'}
      ]
      if (this.userIsAuthenticated) {
        menuItems = [
          {icon: 'supervisor_account', title: 'Empregados', linkName: 'list-employee'},
          {icon: 'supervisor_account', title: 'Meetups', linkName: 'list-employee'}
        ]
      }
      return menuItems
    },
  },


  methods: {
    logout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>
