<template>
  <div id="signup">
    <div class="row">
      <form id="signUpForm" @submit.prevent="onSignup">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="name" name="name" type="text" label="Name" class="validate" v-model="name" required>
            <label for="name" data-error="Nome inválido" data-success="Ok">Nome</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="lastname" type="text" name="lastname" label="Lastname" class="validate" v-model="lastname" required>
            <label for="lastname" data-error="lastname inválido" data-success="Ok">Sobrenome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" label="Mail" class="validate" v-model="email" required>
            <label for="email" data-error="E-mail inválido" data-success="Ok">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input type="password" name="password" label="Password" v-model="password" required v-bind:class="{ invalid: isPasswordsNotEqual, validate: !isPasswordsNotEqual }">
            <label for="password">User password</label>
          </div>
          <div class="input-field col s12 m6">
            <input type="password" name="confirmPassword" label="Confirm Password" v-model="confirmPassword" v-bind:class="{ invalid: isPasswordsNotEqual, validate: !isPasswordsNotEqual }">
            <label for="password">Confirm password</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn">Submit</button>
          <router-link class="btn grey" to="/">Cancel</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        name: '',
        lastname: '',
        email: '',
        password: '',
        confirmPassword: ''
      }
    },
    computed: {
      isPasswordsNotEqual () {
        return this.password === this.confirmPassword ?  false : true
      },
      user () {
        return this.$store.getters.user
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignup () {
        this.$store.dispatch('signUserUp', {email: this.email, password: this.password, name: this.name, lastname: this.lastname})
      }
    },
    mounted () {
      this.$store.dispatch('clearError')
    }
  }
</script>
