<template>
  <div id="sigin">
    <div class="row">
      <form id="signUpForm" @submit.prevent="onSignin">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" label="Mail" class="validate" v-model="email" required>
            <label for="email" data-error="E-mail inválido" data-success="Ok">E-mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="password" name="password" label="Password" class="validate" v-model="password" required>
            <label for="password">User password</label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn">Login</button>
          <router-link class="btn grey" to="/">Cancel</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: ''
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignin () {
        this.$store.dispatch('signUserIn', {email: this.email, password: this.password})
      }
    },
    mounted () {
      this.$store.dispatch('clearError')
    }
  }
</script>
